<h1>Real-Time Tweets Distribution in USA</h1>

<button id="restart" type="button">Restart</button>  
<button id="stop" type="button">Stop</button>
<button id="clear" type="button">Clear</button>
<p>click map to zoom in<p>

<div class="map">
</div>
